<script>
    //点击按钮弹出下拉框
    $('.ui.dropdown').dropdown();

    //鼠标悬浮在头像上,弹出气泡提示框
    $('.post-content .avatar').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right'
    });
    /* 说明: 此处的js代码是 semantic-ui 操控页面控件的代码,一定要放到 footer.ejs 的 </body> 前面 */
</script>
    </body>
</html>